<h1>Blog Post Detail</h1>

<% if @post %>

<ul>
	<li>POST: <%= @post.body %></li>
	<li>POST ID: <%= @post.id %></li>
	<li>CREATED: <%= @post.created_at %></li>
	<li>USER ID:  <%= @post.user_id %></li>
	<li>FIRST NAME: <%= @post.user.fname %></li>
	<li>LAST NAME:  <%= @post.user.lname %></li>
</ul>
<% else %>
	<%= flash[:alert] if flash[:alert] %>
<% end %>


